# Copy/rename this file to gitconfig.local.symlink
# Git will not version control that file, thus saving you from accidently typing out your email, pushing to repo where your email address will be in plain text!
# Remember to edit this file!

[user]
	name=
	email=
	website=somedomain.com

