[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	st = status
	co = checkout
	br = branch
	ci = commit
[push]
	default = simple
[user]
	name = Erik Lilja
	email = erik.liljaa@live.se
