*.sw*
*.local
*.local.symlink
z.sh

# Bin stuff
bin/timelog
*.netrwhist
install/__pycache__/

fish/functions
fish/funnel.fish
fish/completions/*
fish/fish_variables/*
fish/conf.d/
fish/fishd.*

nvim/plugin/packer_compiled.lua


bin/decrypt-funnel-password.py

git/.git-coauthors
