snippet piniascaffold "Scaffolding for a pinia store" b
import {defineStore} from "pinia"

export const use${1:Store} = defineStore('${1:Store}', () => {

    state: () => {
        
    },
    getters: {

    },
    actions: {

    },

})

endsnippet
