extends html, javascript, css

snippet vue3scaffold "Vue 3 Script setup with Typescript" b
<template>
    <div></div>
</template>

<script lang="ts" setup>
import {computed, ref} from "vue"
const props = defineProps({})
const emit = defineEmits([])
$0
</script>
endsnippet
